.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.outer_wrapper{
   padding: 20px;
    position: absolute;
    top:150px;
  width: 70%;
  background-color: white;
  box-shadow: 0px 1px 35px -5px rgba(0,0,0,0.75);
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.sub_title{
    color: gray;
}
.inner_wrapper{
    border: 1.5px solid lightgray;
}
.heading_container{
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: #FAF9F8;
  
}

.heading{
    box-sizing: border-box;
   /* border: 1px solid black;*/
}
.heading_left{
    width: 230px;
}
.heading_middle{
    width: 300px;
}
.heading_right{
    width: 240px;
}
.bottom_wrapper{
    margin-top: 20px;
}
.browse_btn{
    margin:5px;
    display: inline-block;
    border: 1px solid rgb(65, 121, 226);
    border-radius: 30px;
    padding: 4px 9px;
    background-color: #124078;
    color: white;
}
.close_btn{
    background-color: white;
    border-style: none;
    margin-left: 10px;
    cursor: pointer;
    font-size: 1.5rem;
    color: rgb(189, 178, 178);
}

.btn{
    margin: 5px;
    border-radius: 20px;
    border: 1.5px solid #124078;
}
.btn_active{
    background-color: #124078;
}